
@{
    ViewData["Title"] = "AboutStubby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">About Stubby</h2>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 text-left">
            <h3>What is Stubby App?</h3>
            <p>
                Stubby App is an app that allows users to shorten URL's and share them in their shortened version.<br />
                The App is Built with ASP.Net MVC Framework, and uses complex SQL table structures including many to many and many to one table relationships.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h3>Technologies Used</h3>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item language-item shadow-lg">SQL</li>
                <li class="list-inline-item language-item shadow-lg">ASP.NET</li>
                <li class="list-inline-item language-item shadow-lg">HTML</li>
                <li class="list-inline-item language-item shadow-lg">SASS</li>
                <li class="list-inline-item language-item shadow-lg">C#</li>
                <li class="list-inline-item language-item shadow-lg">JAVASCRIPT</li>
                <li class="list-inline-item language-item shadow-lg">BOOTSTRAP</li>
                <li class="list-inline-item language-item shadow-lg">JQUERY</li>
                <li class="list-inline-item language-item shadow-lg">MODERNIZR</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <a href="@Url.Action("Index", "Stubbies")">
                <span class="btn btn-primary">See Live</span>
            </a>
            <a href="https://www.github.com" target="_blank">
                <span class="btn btn-primary">View Source Code</span>
            </a>
        </div>
    </div>
</div>