
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/portfolio-section.css" />
}
<h2>Portfolio</h2>
<main>
    <section class="portfolio-section">
        <div class="portfolio-wrapper">
            <a href="/Home/AboutStubby" class="portfolio-item hover-box rounded">
                <img src="~/images/img_2.png" alt="project" class="portfolio-item-img">
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">STUBBIE APP</h5>
                    <p class="portfolio-item-description">URL Shortener Web Based Application</p>
                </figcaption>
            </a>
            <a href="/Home/AboutWayfinder" class="portfolio-item hover-box rounded">
                <img src="~/images/img_2.png" alt="project" class="portfolio-item-img">
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">WayFinder App</h5>
                    <p class="portfolio-item-description">Multi Platform Application for Indoor Navigation</p>
                </figcaption>
            </a>
            <a href="/Home/AboutStubby" class="portfolio-item hover-box rounded">
                <img src="~/images/img_2.png" alt="project" class="portfolio-item-img">
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">PROJECT 03</h5>
                    <p class="portfolio-item-description">Branding, Photography</p>
                </figcaption>
            </a>
            <a href="/Home/AboutStubby" class="portfolio-item hover-box rounded">
                <img src="~/images/img_2.png" alt="project" class="portfolio-item-img">
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">PROJECT 04</h5>
                    <p Class="portfolio-item-description">Branding, Photography</p>
                </figcaption>
            </a>
        </div>
    </section>
</main>
@section Scripts {
    <script src="~/lib/popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="~/lib/jq.entry.min.js"></script>
    <script src="~/js/portfolio-page.js"></script>
}


